// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table-vcenter > thead > tr > th,
.table-vcenter > tbody > tr > th,
.table-vcenter > tfoot > tr > th,
.table-vcenter > thead > tr > td,
.table-vcenter > tbody > tr > td,
.table-vcenter > tfoot > tr > td {
    vertical-align: middle;
}
